body {
    background-image: url(image.jpg);
    background-repeat:no-repeat; 
    background-position:center; 
    background-size:cover; 
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.login-container {
    background-color: #19b75b;
    padding: 40px;
    border-radius: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 0.85;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    margin-left: 17px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

button {
    display: flex;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    justify-content: center;
}

button:hover {
    background-color: #0056b3;
}
